body{
  background-color: rgb(104, 187, 285);
}


#left-box{
  float: left;
  background-color: rgb(9, 30, 45);
  color: white;
  width: 25%;
  margin-right: 5px;
}


/*#space:after{
  content: "";
  display: table;
  clear: both;
}*/

#right-box{
  /*max-width: 75%;*/
  margin-left: 5px;
  /*position: relative;
  left: 25%;*/
}

.experiences-box{
  background-color: white;
}

.studies-box{
  background-color: white;
}
