body{
  background-color: rgb(104, 187, 285);
}


#left-box{
  float: left;
  background-color: rgb(9, 30, 45);
  color: white;
  width: 25%;
  margin-right: 5px;
}


#right-box{
  margin-left: 5px;
}

.experiences-box, .studies-box{
  background-color: white;
}


.propre{
  clear: both;
}

h2{
  margin: 0;
}
.legende{
  text-align: center;
}

.picsize{
   height: 225px;
   width: 100%;
}

.experience ul{
padding-left: calc(25% + 10px);
}
